<div class="sidebar">
  <div class="sidebar-content">
    <!-- logo_container -->
    <div class="logo-container">
      <div class="logo-icon">
        <%= image_tag "isotipo.png", alt: "Sharing Centre Logo" %>
        <span class="logo-text">Sharing Centre</span>
      </div>
    </div>

    <nav class="sidebar-nav">
      <% items.each do |item| %>
        <%= render Layout::SidebarItemComponent.new(item:) %>
      <% end %>
    </nav>

    <div class="sidebar-footer">
      <ul>
        <li>
          <%= button_to destroy_user_session_path, class: 'nav-item', method: :delete, data: { turbo: false } do %>
            <%= lucide_icon "log-out" %>
            <span><%= t('.logout')%></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>