<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sharing Centre - <%= t('devise.sessions.new.title') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag :login, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<div class="login-container">
  <div class="logo-container">
    <%= image_tag "logo.jpg", alt: "Sharing Centre Logo" %>
  </div>

  <%= yield %>
</div>
</body>
</html>
